/*  your css code here. If applicable */
body{
	margin:0;
	padding:0;
	height:100vh;
	width:100vw;
	display:flex;
	justify-content:center;
	align-items:center;
	
}
.hide{
	display:none;
}
.game-board {
  height: 360px;
  width: 360px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 2px solid black;
}

.cell {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
}
